body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.group {
  display: flex;
  text-align: center;
  gap: 5px;
}

.acrilic-painting {
  height: 430px;
  padding: 10px;
  border-radius: 5px;
}

.painting {
  height: 420px;
  padding: 10px;
  border-radius: 5px;
}

.city {
  height: 400px;
  padding: 10px;
  border-radius: 5px;
}

.paintings {
  height: 400px;
  padding: 10px;
  border-radius: 5px;
}

.batic {
  height: 330px;
  padding: 10px;
  border-radius: 5px;
}

.paint {
  height: 400px;
  padding: 10px;
  border-radius: 5px;
}

.painting-group {
  display: flex;
}

.weaving {
  height: 450px;
  padding: 0 10px;
  border-radius: 5px;
}

.hand-weaving {
  height: 450px;
  padding: 0 10px;
  border-radius: 5px;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 18px;
  margin: 0;
}

@media only screen and (max-width: 2377px) {
  body {
    margin: 10px;
  }

  .acrilic-painting {
    height: 290px;
    padding: 5px;
  }

  .painting {
    height: 280px;
    padding: 5px;
  }

  .city {
    height: 270px;
    padding: 5px;
  }

  .paintings {
    height: 260px;
    padding: 5px;
  }

  .batic {
    height: 220px;
    padding: 5px;
    border-radius: 5px;
  }

  .paint {
    height: 260px;
    padding: 5px;
  }

  .weaving {
    height: 300px;
    padding: 0 5px;
  }

  .hand-weaving {
    height: 300px;
    padding: 0 5px;
  }
}

@media only screen and (max-width: 1420px) {
  body {
    margin: 10px;
  }

  .acrilic-painting {
    height: 180px;
    padding: 5px;
  }

  .painting {
    height: 180px;
    padding: 5px;
  }

  .city {
    height: 180px;
    padding: 5px;
  }

  .paintings {
    height: 180px;
    padding: 5px;
  }

  .batic {
    height: 153px;
    padding: 5px;
  }

  .paint {
    height: 180px;
    padding: 5px;
  }

  .weaving {
    height: 200px;
    padding: 0 5px;
  }

  .hand-weaving {
    height: 210px;
    padding: 0 5px;
  }
}

@media only screen and (max-width: 1020px) {
  body {
    margin: 10px;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .acrilic-painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 880px;
    padding: 10px;
  }

  .painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 500px;
    padding: 10px;
  }

  .city {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 350px;
    padding: 10px;
  }

  .paintings {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 450px;
    padding: 10px;
  }

  .batic {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 500px;
    padding: 10px;
  }

  .paint {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 500px;
    padding: 10px;
  }

  .painting-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 500px;
    padding: 10px;
  }

  .hand-weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 750px;
    padding: 10px;
  }

  p {
    font-size: 15px;
  }

  h1 {
    font-size: 18px;
    margin: 0;
  }
}

@media only screen and (max-width: 748px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .acrilic-painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 480px;
    padding: 10px;
  }

  .painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 250px;
    padding: 10px;
  }

  .city {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 180px;
    padding: 10px;
  }

  .paintings {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 250px;
    padding: 10px;
  }

  .batic {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 280px;
    padding: 10px;
  }

  .paint {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 300px;
    padding: 10px;
  }

  .painting-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 320px;
    padding: 10px;
  }

  .hand-weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 480px;
    padding: 10px;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 14px;
    margin: 0;
  }
}

@media only screen and (max-width: 420px) {
  body {
    margin: 10px;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .acrilic-painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 430px;
    padding: 10px;
  }

  .painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 230px;
    padding: 10px;
  }

  .city {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 160px;
    padding: 10px;
  }

  .paintings {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 210px;
    padding: 10px;
  }

  .batic {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 250px;
    padding: 10px;
  }

  .paint {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 220px;
    padding: 10px;
  }

  .painting-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 290px;
    padding: 10px;
  }

  .hand-weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 435px;
    padding: 10px;
  }
}

@media only screen and (max-width: 370px) {
  body {
    margin: 10px;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .acrilic-painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 350px;
    padding: 10px;
  }

  .painting {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 200px;
    padding: 10px;
  }

  .city {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 140px;
    padding: 10px;
  }

  .paintings {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 180px;
    padding: 10px;
  }

  .batic {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 210px;
    padding: 10px;
  }

  .paint {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 180px;
    padding: 10px;
  }

  .painting-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
  }

  .weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 250px;
    padding: 10px;
  }

  .hand-weaving {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5px;
    height: 380px;
    padding: 10px;
  }
}
